.active-div {
	width: 80px;
	height: 25px;
	background-color: #ddecd1;
	border-radius: 50px;
	position: relative;
	margin: auto;
}

.active-circle {
	width: 10px;
	height: 10px;
	background-color: #0eaf00;
	border-radius: 100%;
	position: absolute;
	margin-top: 7.5px;
	margin-left: 7.5px;
	animation-name: active-animation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.active-text {
	color: #0eaf00;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 11px;
	position: absolute;
	right: 10px;
	top: 4px;
}

@keyframes active-animation {
	from {
		background-color: #0eaf00;
	}

	to {
		background-color: transparent;
	}
}
